html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: contain;
}

@media (max-width: 768px) {
    .swiper-slide {
        filter: blur(0);
        opacity: 1;
        transform: scale(1);
    }
    .swiper-slide-active {
        transform: scale(1.1);
        z-index: 10;
        border-radius: 65px;
    }

    .swiper-slide-next {
        filter: blur(4px);
        opacity: 0.6;
        transform: scale(0.55);
    }
    .swiper-slide-prev {
        filter: blur(4px);
        opacity: 0.6;
        transform: scale(0.55);
    }
}
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next::after {
    display: none;
}
